Flask
flask-socketio
flask[async]
flask-cors
opencv-python
numpy
matplotlib
Pillow
torch
torchvision
tqdm
pyyaml
requests
pandas
seaborn
IPython
playwright #after please bash 'playwright install' 
pydantic
python-dotenv
pymongo
beautifulsoup4
setuptools
scipy>=1.4.1
asyncio
